
Django>=3.2.4
eli5>=0.13.0
Flask>=2.2.3
numpy>=1.19.5
Jinja2>=3.1.2
joblib>=1.2.0
Keras>=2.4.3
Keras-Preprocessing>=1.1.2
matplotlib>=3.4.3
nbclient>=0.5.3
nbconvert>=7.2.10
nbformat>=5.1.3
pandas>=1.3.3
pickleshare>=0.7.5
scikit-learn==1.2.1
seaborn>=0.12.0
sklearn>=0.0
wcwidth>=0.2.5
webencodings>=0.5.1
Werkzeug>=2.2.3
wrapt>=1.12.1
xgboost>=1.7.4
MarkupSafe>=2.1.2
gunicorn>=19.9.0
itsdangerous>=2.1.2
